body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
}

main {
    padding: 20px;
    text-align: center;
}

.square {
    display: inline-block;
    width: 100%;
    max-width: 600px;
    background: #ffffff;
    border: 2px solid #35424a;
    border-radius: 10px;
    margin: 10px auto;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #35424a;
    font-size: 30px; /* Increased font size */
    line-height: 1.5;
}

.price {
    font-size: 24px;
    font-weight: bold;
    color: #35424a;
    margin-bottom: 20px;
}

.buy-button {
    background-color: #28a745;
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block; /* Ensure the buttons are inline-block */
    margin: 10px 5px; /* Add spacing between buttons */
    width: 200px; /* Set a fixed width for buttons */
    text-align: center;
}

.about-us, .disclaimer {
    margin-top: 20px;
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: 800px;
    margin: 20px auto;
}

.buy-button:hover {
    background-color: #218838;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 600px) {
    .square {
        width: 90%;
    }

    .buy-button {
        width: 100%; /* Make the button width 100% for mobile screens */
        margin: 10px 0; /* Adjust margin to create space between buttons */
        padding: 12px; /* Adjust padding for better fit */
    }
}
